<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center black-text">ADOSAUR</h1>
      <div class="row center">
        <h5 class="header col s12 light">Automatic Detection of Emotions using speech and facial analysis along with state-of-the-art Machine Learning techniques</h5>
      </div>
      <div class="row center">
        <a href="#/realTime" id="download-button" class="btn-large waves-effect waves-light green darken-3">Real-Time Detection</a>
        <a href="#/upload" id="download-button" class="btn-large waves-effect waves-light green darken-3">Upload your footage</a>
      </div>
      <br><br>

    </div>
</div>