<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><strong>ADOSAUR</strong></h1>
        <div class="row center">
          <hh class="white-text">Automatic Detection of Depression using speech and facial analysis along with state-of-the-art Machine Learning techniques</hh>
        </div>
        <div class="row center">
          <a href="#/login" id="download-button" class="btn-large waves-effect waves-light teal">Doctors</a>
          <a href="#/upload" id="download-button" class="btn-large waves-effect waves-light teal">Try it out!</a>
        </div>
        <br><br>

      </div>

  </div>
  <div class="parallax"><img src="assets/img/background1.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 189px, 0px);"></div>
</div>

<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Automatic results</h5>

            <p class="light">In a easy-to-use interface, ADOSAUR uses state-of-the-art machine learning techniques on facial and speech data to achieve detection of depression quick and accurate.  </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">ADOSAUR for Doctors</h5>

            <p class="light">ADOSAUR presents the doctor with a beautiful, simple interface, it allows them to leverage machine learning to aid in their diagnosis of depression. Want to join? Go to "DOCTORS", complete a formulee and wait for approval. Once you got your username you are ready to go.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Get a taste</h5>

            <p class="light">Use the "TRY IT OUT!" to get a feeling of what our application can do. Simply upload an audio file, click "Submit" and you will get an estimate depression probability for the person talking.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <hh class="white-text">An estimated 350 million people of all ages suffer from depression globally. </hh>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/background2.jpg" alt="Unsplashed background img 2"style="display: block; transform: translate3d(-50%, 189px, 0px);"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>More about the issue</h4>
          <p class="left-align light">
Technology has made great strides in the last 50 years. But, it’s surprising that it’s had little impact on diagnosing mental health disorders.

Diagnosis is extremely inefficient. 
Practitioners spend weeks, months or even years analysing their patients. Sometimes, they’re even subconsciously biased towards one diagnosis over another, which hinders progress.

What if we could automate the diagnostic procedure? What if the process was purely evidence-based? What if the machine could use the combined data from doctors over the world?

ADOSAUR uses state-of-the-art machine learning techniques on facial and speech data to achieve automatic detection
</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <hh class="white-text"> One in four citizens experience mental health problems throughout their life </hh>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/background3.jpg" alt="Unsplashed background img 3"style="display: block; transform: translate3d(-50%, 189px, 0px);"></div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
        console.log("hello");
        $('.parallax').parallax();
      });
  </script>









