
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><strong>TRY IT OUT</strong></h1>
        <div class="row center">
          <hh class="white-text">Upload a file to estimate depression probablities:</hh>
        </div>

      </div>

  </div>
  <div class="parallax"><img src="assets/img/p.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 189px, 0px);"></div>
</div>

<div class="center" container style="margin-top:20px">
    
    <form name="myForm">
    <fieldset style="border:none">
      Audio file (.wav):
      <input type="file" ngf-select ng-model="audioFile" name="file"
             accept=".wav" ngf-max-size="50MB" required>
      <i ng-show="myForm.file.$error.required">*required</i><br>
      <i ng-show="myForm.file.$error.maxSize">File too large
          {{audioFile.size / 1000000|number:1}}MB: max 50M</i>
      <button ng-click="audioFile = null" ng-show="audioFile">Remove</button>
      <br>
      <button ng-disabled="!myForm.$valid"
              ng-click="uploadAudio(audioFile)">Submit</button>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </fieldset>
    <br>
  </form>
  <div id="graph" style="min-width: 310px; height: 400px; margin: auto; max-width:600px; display:none" ></div>
</div>
