
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><strong>TRY IT OUT</strong></h1>
        <div class="row center">
          <hh class="white-text">Upload a file to estimate depression level</hh>
        </div>

      </div>

  </div>
  <div class="parallax"><img src="assets/img/p.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 189px, 0px);"></div>
</div>

<div class="center row" container style="margin-top:20px">

  <form action="/api/upload/video" enctype="multipart/form-data" method="POST" class="col s4 offset-s4">
    <div class="file-field input-field">
      <div>Upload .mp4</div>
      <div class="btn">
        <span>File</span>
        <input name="video" type="file"
               title="upload .mp4 video file"
               accept="mp4" required>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <div class="input-field">
      <input class="btn" type="submit" value="upload">
    </div>
    <div style="font-size:18px" class="section">
        Predicted depression level: {{prediction}}
    </div>
  </form>
