
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><strong>DOCTORS</strong></h1>
        <div class="row center">
          <hh class="white-text">Log in or Register by sending an email <a href="mailto:register@adosaur.com">here</a></hh>
        </div>

      </div>

  </div>
  <div class="parallax"><img src="assets/img/p.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 189px, 0px);"></div>
</div>

<div class="container">
  <div class="row">
    <div flash-message="5000" class="col s4 offset-s4"></div>
  </div>
  <div class="row">
    <form class="col s4 offset-s4" action="/api/login" method="post">
      <div class="input-field">
        <i class="material-icons prefix">account_circle</i>
        <label>Username:</label>
        <input type="text" name="username"/>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">vpn_key</i>
        <label>Password:</label>
        <input type="password" name="password" class="validate"/>
      </div>
      <div>
        <input class="btn waves-effect waves-light" type="submit" value="Log In"/>
      </div>
    </form>
  </div>
</div>
