<div class="row">
  <!-- MENU panel -->
  <div class="col s2 teal lighten-5" style="height: 500px">
    <div class="section" style="text-align: center; font-size: 20px">Menu</div>
    <div class="collection">
      <a class="collection-item" href="#/doctor/patients/{{uid}}">
        <i class="material-icons circle">perm_identity</i>
        Patients
      </a>
      <a class="collection-item" href="#/doctor/texts/{{uid}}">
        <i class="material-icons circle">comment</i>
        Texts
      </a>
    </div>
  </div>
  <div class="col s10" style="padding: 0;">
    <div class="col s12 teal lighten-5">
      <div class="col s4 l3 offset-l4 input-field" style="border-radius: 10px">
        <i class="material-icons prefix">search</i>
        <input id="search" type="search" required placeholder="Search...">
      </div>
    </div>
    <div ui-view></div>
  </div>
</div>
