<div ng-repeat="patient in patients | filter : search" class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel blue lighten-5 z-depth-1 hoverable">
    <div class="row valign-wrapper">
      <div class="col s2">
        <img ng-src="{{patient.profile_pic}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
      </div>
      <div class="col s10">
        <div class="black-text" style="margin-bottom: 10px">
          <srtong>{{patient.first_name}} {{patient.last_name}}</strong>
            <div>email: {{patient.email}}</div>
        </div>
        <div class="card-action">
          <!-- Send test button -->
          <a class="btn-floating teal modal-trigger"
          data-target="send_test_modal"
          title="Send test to patient"
          ng-click="openSendTest(patient)">
            <i class="material-icons">send</i>
          </a>
          <!-- Edit patient button -->
          <a class="btn-floating orange" ng-click="edit(patient)" title="Edit patient">
            <i class="material-icons">edit</i>
          </a>
          <!-- Delete patient button -->
          <a class="btn-floating red"
             ng-click="delete(patients, '_id', patient._id, 'patient')"
             title="Delete patient">
            <i class="material-icons">delete</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div>

<!-- add patient button / modal trigger-->
<div class="fixed-action-button">
  <a class="btn-floating btn-large red modal-trigger" data-target="modal1" title="Add a patient">
    <i class="material-icons">add</i>
  </a>
</div>
<!-- Modal Structure to add a patient -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add patient</h4>
      <form class="col s12">
        <!-- first row of form -->
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="first_name" type="text" class="validate" ng-model="newUser.first_name">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" ng-model="newUser.last_name">
          <label for="last_name">Last name</label>
        </div>
      </div>
      <!-- second row of form -->
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" ng-model="newUser.email">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="date" type="date" class="" ng-model="newUser.dob">
          <label for="date"></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">picture_in_picture</i>
          <input id="profile_pic" type="text" class="validate" ng-model="newUser.profile_pic">
          <label for="profile_pic">Photo</label>
        </div>
      </div>
    </form>
    </div>
    <div class="modal-footer">
      <a href="/#/doctor/patients/{{user.user.uid}}"
      class="modal-action modal-close waves-effect green white-text btn-flat"
      ng-click="addPatient()">Add</a>
    </div>
  </div>

<!-- Send test modal -->
<div id="send_test_modal" class="modal">
  <div class="modal-content">
    <div class="chip">
      <img ng-src="{{patient.profile_pic}}" alt="Contact Person">
      {{patient.first_name}} {{patient.last_name}}
    </div>
    <form class="row">
      <div class="col s6">
        <p>
        <div><strong>Test type:</strong></div>
          <input name="group1" type="radio" id="test1" ng-model="test.type" class="with-gap" value="read"/>
          <label for="test1">Read text</label>
        </p>
        <p>
          <input name="group1" type="radio" id="test2" ng-model="test.type" class="with-gap" value="question"/>
          <label for="test2">Answer questions</label>
        </p>
        <div class="input-field col s12">
          <i class="material-icons prefix">message</i>
          <textarea id="message" class="materialize-textarea" ng-model="test.emailMsg"></textarea>
          <label for="message">Email message</label>
        </div>
      </div>
      <div class="col s6">
        <div class="input-field">
          <i class="material-icons prefix">search</i>
          <input id="text_search" type="search" required placeholder="Search texts" ng-model="text_search">
        </div>
        <div class="collection">
          <a ng-repeat="text in texts | filter: text_search"
          class="collection-item"
          ng-click="selectText(text._id)"
          ng-class="{'active': (test.textID === text._id)}">
            {{text.title}}
          </a>
        </div>
        <div>
          <a class="waves-effect waves-light btn modal-close" ng-click="sendTest()">
            <i class="material-icons right">send</i>
            send
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
