<div class="row pink lighten-5">
    <div class="col s1 offset-s4">
      <img ng-src="{{patient.profile_pic}}"
           alt="Maggle"
           class="circle responsive-img"
           style="height: 75px"/>
    </div>
    <div class="col s5">
      <div class="valign-wrapper">
        <h5 class="valign">{{patient.first_name}} {{patient.last_name}}</h5>
      </div>
      {{patient.email}}
    </div>
</div>


<div ng-repeat="test in tests track by $index" class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel blue lighten-5 z-depth-1 hoverable">
    <div class="row valign-wrapper">
      Test set by: &nbsp; &nbsp;
      <div class="chip">
        <img ng-src="{{doctor.profile_pic}}" alt="Contact Person">
        {{doctor.first_name}} {{doctor.last_name}}
      </div>
      &nbsp; For: &nbsp; &nbsp;
      <div class="chip">
        <img ng-src="{{patient.profile_pic}}" alt="Contact Person">
        {{patient.first_name}} {{patient.last_name}}
      </div>
    </div>
    <div class="row valign-wrapper">
      <h5 class="">
        Result:&nbsp;&nbsp;
      </h5>
      <h5 class="">
        {{test.result}}
      </h5>
    </div>
  </div>
</div>
</div>
<div>
