<div ng-repeat="text in texts | filter : search" class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel blue lighten-5 z-depth-1 hoverable">
    <div class="row valign-wrapper">
      <div class="col s10">
        <div class="card-content">
          <h4 class="card-title">{{text.title}}</h4>
          <p class="truncate">{{text.content}}</p>
          <p><strong>Comments: </strong> {{text.comments}}</p>
        </div>
        <div class="card-action">
          <!-- Edit text button -->
          <a class="btn-floating orange" ng-click="edit(text)" title="Edit text">
            <i class="material-icons">edit</i>
          </a>
          <!-- Delete text button -->
          <a class="btn-floating red"
             ng-click="delete(texts, '_id', text._id, 'text')"
             title="Delete text">
            <i class="material-icons">delete</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add text button / modal trigger-->
<div class="fixed-action-button">
  <a class="btn-floating btn-large red modal-trigger" data-target="modal1"><i class="material-icons">add</i></a>
</div>
<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add text</h4>
      <form class="col s12">
        <!-- first row of form -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">label_outline</i>
          <input id="title" type="text" class="validate" ng-model="newText.title">
          <label for="title">Title</label>
        </div>
      <!-- second row of form -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">subtitles</i>
          <textarea id="content" class="materialize-textarea" ng-model="newText.content"></textarea>
          <label for="content">Content</label>
        </div>
      </div>
      <!-- third row of form -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">comment</i>
          <textarea id="comments" class="materialize-textarea" ng-model="newText.comments"></textarea>
          <label for="comments">Comments</label>
        </div>
      </div>
    </form>
    </div>
    <div class="modal-footer">
      <a href="/#/doctor/texts/{{user.user.uid}}"
      class="modal-action modal-close waves-effect green white-text btn-flat"
      ng-click="addText()">Add</a>
    </div>
  </div>
